APP_NAME="skilly CRM Pro"
APP_ENV=production
APP_KEY=base64:jrI5md2zAbMDcLteTTmqdmt4J4GgNQSbQWwcn4ncda0=
APP_DEBUG=false
APP_URL=https://skillycrm.skillycat.com

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=srv1666.hstgr.io
DB_PORT=3306
DB_DATABASE=u998865153_laravelcrm
DB_USERNAME=u998865153_laravelcrm
DB_PASSWORD=laravelCRM1
DB_PREFIX=

# Broadcasting
BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# Session & Sanctum (Update with your domain)
SANCTUM_STATEFUL_DOMAINS=skillycrm.skillycat.com,www.skillycrm.skillycat.com
SESSION_DOMAIN=.skillycrm.skillycat.com

# Mail Configuration (Optional)
MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=587
MAIL_USERNAME=noreply@skillycrm.skillycat.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@skillycrm.skillycat.com
MAIL_FROM_NAME="${APP_NAME}"

